.header-background {
  background-color: var(--color-12);
}

header .header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0;
  position: relative;
}

.header-menu a::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background-color: var(--color-0);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

/* O segundo elemento é quando o link tiver a classe active vai tornar a linha abaixo estática.  */
.header-menu a:hover::after, .header-menu a.active::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }

  .header-menu a {
    background-color: var(--color-11);
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header-menu a:hover {
    background-color: var(--color-10);
  }

  .header a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 0.875rem;
  }
}