.benefits-background {
  background-color: var(--color-12);
}

.benefits {
  padding: 120px 20px;
}

.benefits li:hover {
  transform: translateY(-10px);
  transition: 1.5s;
}

.benefits h2 {
  margin: 0 0 60px 0;
}

.benefits ul {
  display: grid;
  /* O auto-fit é usado para quebrar automaticamente o conteúdo, o minmax define um tamanho mínimo e o outro máximo. */
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 40px 80px;
}

.benefits h3,
.benefits img {
  margin: 0 0 8px 0;
}

@media (max-width: 800px) {
  .benefits {
    padding: 60px 20px;
  }

  .benefits h2 {
    margin: 0 0 40px 0;
  }

  .benefits ul {
    gap: 20px;
  }
}