.bicycle-home-background {
  /* Dá a ilusão de que a imagem do segundo card está vazada. */
  background: linear-gradient(to right, var(--color-0) 30%, var(--color-11) 0%);
}

.bicycle-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 60px 20px;
  background: url('../../assets/svg/top-right.svg') no-repeat top 40px right 20px;
}

.bicycle-home-image {
  display: grid;
}

.bicycle-home-image img {
  grid-area: 1 / 1;
}

.bicycle-home-image span {
  grid-area: 1 / 1;
  place-self: start end;
  margin: 20px 0 0 0;
  display: inline-block;
  background-color: var(--color-12);
  padding: 8px 16px 8px 8px;
  border-radius: 5px 0 0 5px;
}

.bicycle-home-content {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: flex-start;
}

.bicycle-home h2, .bicycle-home p {
  grid-column: 1 / -1;
}

.bicycle-home h2 {
  margin: 0 0 20px 0;
}

.bicycle-home h2::before {
  content: '';
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--color-p1);
  margin: 0 0 8px 0;
}

.bicycle-home p {
  margin: 0 0 32px 0;
}

.bicycle-home a {
  place-self: end;
}

.bicycle-home ul {
  display: grid;
  gap: 16px;
}

.bicycle-home li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bicycle-home-content img {
  width: 24px;
}

@media (max-width: 800px) {
  .bicycle-home-background {
    background: var(--color-11);
  }
  .bicycle-home {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
  }
}

@media(max-width: 600px) {
  .bicycle-home ul {
    font-size: 1rem;
    margin: 0 0 32px 0;
    grid-template-columns: 1fr 1fr;
  }

  .bicycle-home a {
    place-self: start;
  }
}