#budget {
  background: linear-gradient(var(--color-11) 600px, var(--color-1) 0px);
}

.budget {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 120px;
}

.budget h2 {
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
}

.budget h2::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 8px;
  background-color: var(--color-p1);
  position: absolute;
  left: -12px;
}

.budget-product,
.budget-data {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.budget-product {
  border-radius: 5px 0 0 5px;
  background-color: var(--color-12);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: flex-start;
  gap: 20px
}

/* Fala com todos os elementos dentro do budget-product. */
.budget-product > * {
  grid-column: 1 / -1;
}

.budget-product > label {
  grid-column: initial;
}

.budget-product label {
  /* Peso - Tamanho/Altura - Fonte */
  font: 400 1rem/1.5 "Poppins", sans-serfi;
  color: var(--color-4);
  background-color: var(--color-10);
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border: 1px solid var(--color-12);
}

.budget-product label::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-6);
  border-radius: 50%;
  margin-right: 8px;
  box-sizing: border-box;
}

.budget-product label:hover {
  background-color: var(--color-9);
  border-color: var(--color-9);
}

.budget-product input:focus + label {
  box-shadow: 0 0 0 2px var(--color-p1);
  border-color: var(--color-12);
}

.budget-product label span {
  display: none;
}

/* Fala com o span dentro do label label que vem seguido do input checado. */
.budget-product input:checked + label span {
  display: inline-block;
}

.budget-product input {
  opacity: 0;
  position: absolute;
  /* Tira o evento de clique do input radio. */
  pointer-events: none;
}

/* Fala com o label que vem seguido do input checado. */
.budget-product input:checked + label {
  background-color: var(--color-0);
  color: var(--color-11);
}

/* Fala com o elemento antes do label que vem seguido do elemento input checado. */
.budget-product input:checked + label::before  {
  border-color: var(--color-7);
  box-shadow: inset 0 0 0 3px var(--color-0), inset 0 0 0 6px var(--color-7);
}

.budget-data {
  border-radius: 0 5px 5px 0;
  background: var(--color-0);
}

.budget-content {
  display: none;
}

.budget-content h2, .budget-data h2:nth-of-type(n + 2) {
  margin-top: 20px;
}

/* Quando o bikcraft/secure estiver checado ele irá pular os seletores até encontrar o budget-bikcraft/secure. */
#bikcraft:checked ~ #budget-bikcraft, #secure:checked ~ #budget-secure {
  display: grid;
  gap: 20px;
}

.budget-details {
  display: none;
  background-color: var(--color-0);
  padding: 20px;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 4px;
  align-items: center;
}

.budget-details li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.budget-details li img {
  width: 16px;
  margin-right: 8px;
}

/* Quando o input radio estiver checado/ativo irá pegar o primeiro buget-details que está dentro de uma label. */
.budget-product input:checked + label + .budget-details {
  display: grid;
}

@media (max-width: 1200px) {
  
}