.introduction-background {
  background-color: var(--color-12);
  /* Faz um efeito de que a foto está flutuando. */
  box-shadow: inset 0 -120px var(--color-0);
}

.introduction {
  display: grid;
  gap: 0 40px;
  grid-template-columns: 1fr 1fr;
}

.introduction-content {
  /* Distancia dos elementos para a sombra. */
  padding-bottom: 250px;
  align-self: end;
}

.introduction h1 {
  margin-bottom: 32px;
}

.introduction p {
  margin-bottom: 20px;
}

.button:hover {
 animation: jello-vertical .9s linear both
}

.introduction img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

@media (max-width: 800px) {
  .introduction-background {
    padding-top: 40px;
    background-color: var(--color-11);
    box-shadow: inset 0 -60px var(--color-0);
  }

  .introduction-content {
    padding-bottom: 0;
  }
  
  .introduction {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introduction h1 {
    margin-bottom: 16px;
  }

  .introduction img {
    width: 100%;
    height: 300px;
  }
}