.questions {
  padding: 120px 20px;
}

.questions h2 {
  margin-bottom: 60px;
}

/* Está falando com a DIV dentro da DL. */
.questions dl>div {
  padding: 20px;
  border-radius: 4px;
}

.questions dl>div:nth-child(odd) {
  background-color: var(--color-2);
}

.questions dt {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.questions dt::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background-color: var(--color-p1);
}

.questions dt::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 6px;
  background-image: url("../../assets/svg/seta-abrir.svg");
}

.questions dt:hover::after {
  transform: rotate(180deg);
  transition: 0.3s;
}

.questions dd {
  padding: 20px 0 0 20px;
  max-width: 80ch;
}

@media (max-width: 800px) {
  .questions {
    padding-top: 60px 20px;
  }

  .questions h2 {
    margin-bottom: 40px;
  }
}