.store {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 40px;
  padding: 120px 20px;
}

.store h2 {
  grid-column: 1 / -1;
  margin-bottom: 60px;
}

.store img {
  border-radius: 4px 4px 0 0;
}

.store-item {
  border-radius: 4px;
  background-color: var(--color-0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.store-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 16px;
  padding: 32px;
}

.store-content h3, .store-content p {
  grid-column: 1 / -1;
}

.store-data {
  display: grid;
  gap: 8px;
  border-left: 2px solid var(--color-2);
  padding-left: 12px;
}

.store-content p {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 800px) {
  .store {
    gap: 20px;
    padding-top: 60px 20px;
  }

  .store h2 {
    margin-bottom: 32px; 
  }

  .store-content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .store {
    grid-template-columns: 1fr;
  }
}