.terms {
  padding: 80px 20px;
}

.terms h2 {
  font-weight: 600;
  margin: 0 0 20px 0;
}

.terms p {
  max-width: 75ch;
  margin: 0 0 24px 0;
}

/* Somente adiciona um margin se tiver um P depois de um H2. */
.terms p + h2 {
  margin: 40px 0 0 0;
}