/* Componentes são elementos que tem seus valores e estilos próprios, que é criado no intuito de ser usado em vários lugares e evitar deixar o código mais poluído. */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#FFBF00, #F2A50C);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  text-transform: uppercase;
  color: var(--color-p5);
  /* Peso - Tamanho/Altura - Fonte */
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  /* O tamanho máximo dele é o tamanho do container do botão. */
  max-width: max-content;
}

.button:hover {
  background: linear-gradient(#FFB60D, #E59317);
  animation: jello-vertical .9s linear both
}

.button.secondary {
  background: var(--color-10);
  color: var(--color-2);
}

.button.secondary:hover {
  background: var(--color-9);
}

.button.arrow {
  display: flex;
  align-items: center;
}

.button.arrow::after {
  content: '';
  display: inline-block;
  width: 18px;
  height: 10px;
  margin: 0 0 0 12px;
  background-image: url('../../assets/svg/seta.svg');
  transition: transform 0.2s;
}

/* Quando passado o mouse por cima modifica o after. */
.button.arrow:hover::after {
  transform: translateX(4px);
}

@media (max-width: 600px) {
  .button-primary {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

.link {
  display: inline-block;
  color: var(--color-p1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}

.link::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  /* O currentColor usa a cor definida no pai. */ 
  background-color: currentColor;
}

.link:hover {
  color: var(--color-0);
}

.title-background {
  background-color: var(--color-11);
  padding: 60px 0px;
}

.title p {
  margin: 0 0 4px 0;
}

@media (max-width: 800px) {
  .title {
    padding: 0px 20px;
  }

  .title p {
    font-size: 1rem;
    font-weight: 400px;
  }
}