@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1)
  }

  30% {
    transform: scale3d(.75, 1.25, 1)
  }

  40% {
    transform: scale3d(1.25, .75, 1)
  }

  50% {
    transform: scale3d(.85, 1.15, 1)
  }

  65% {
    transform: scale3d(1.05, .95, 1)
  }

  75% {
    transform: scale3d(.95, 1.05, 1)
  }

  100% {
    transform: scale3d(1, 1, 1)
  }
}

@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1
  }

  24% {
    opacity: 1
  }

  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in
  }

  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in
  }

  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in
  }

  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in
  }

  25%,
  55%,
  75%,
  87% {
    transform: translateY(0);
    animation-timing-function: ease-out
  }

  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1
  }
}